.itemsContainer {
  width: 600px;
  height: 140px;
  margin-left: 50px;
  display: flex;
  background-color: #02aac8;
}
.headingTag1 {
  display: flex;
  flex-direction: column;
}
.headingTag1 h3 {
  margin-left: 40px;
  margin-top: 40px;
}
.second_image {
  width: 100px;
  height: 100px;
  margin-left: 10px;
  margin-top: 10px;
}
.headingTag1 p {
  width: 390px;
  margin-left: 40px;
  font-size: 15px;
  margin-top: -10px;
}
